---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Sidebar from '../../components/Sidebar.astro';
import BaseHead from '../../components/BaseHead.astro';

const posts = (await getCollection('tori')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);


---

<html lang="en">
	<head>
		<BaseHead title="Farfama" description="Farfama" />
		<style>
			body {
				font-family: Arial, sans-serif;
				margin: 0;
				padding: 0;
				display: flex;
				font-size: 14px;
				line-height: 1.6;
				color: #333;
				min-height: 100vh;
			}

			h2 {
				font-family: Arial, sans-serif;
				text-decoration: underline;
				font-size: 22px;

			}
			.content {
				flex-grow: 1;
				padding: 60px;
				max-width: 1200px;
				margin: 0 auto;
				width: 100%;
				box-sizing: border-box;

			}
			

			.blog-post{

			}

			.blog-title {
				
			}

			.blog-date{
				font-size: 12px;
				text-decoration: none;
			}

			a{
				color: #666;
			}

			.text-content {
				flex-grow: 1;
				margin-bottom: 12px;
				text-decoration: none;
				
			}
			p {
				margin: 0;
			}

			.text-decoration-none {
				text-decoration: none;
			}

			@media (max-width: 768px) {
				body {
					flex-direction: column;
				}
				.content {
					flex-direction: column;
					padding: 20px;
				}
			}
		</style>
	</head>
	<body>
		<Sidebar />
		<div class="content">
			<div class="text-content">

				<iframe style="display: block;
    margin: 0 auto;" src="https://store.steampowered.com/widget/3215280/" frameborder="0" width="646" height="190"></iframe>

	<iframe width="560" height="315" style="display: block;
    margin: 0 auto;" src="https://www.youtube.com/embed/b6BziuwxucI?si=3RIqAw3klRJB-5gy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<br>
<h2> Blog posts</h2>
                    <div class="column">
						{
							posts.map((post) => (
									<div class="text-content tex">
									<a class="text-decoration-none" href={`/tori/${post.slug}/`}>
										<p class="blog-title">{post.data.title}</h4>
									</a>
	
								</div>
							))
						}
                    </div>
                  </div>
			</div>
		</div>
	</body>
</html>



